body{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
    margin: 10px; 
}

.form{
    background: linear-gradient(40deg, grey, dodgerblue, grey); 
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(28, 159, 215, 0.1); 
}
.log{
    text-align: center;
    color:white;
    text-shadow: 2px 2px 4px rgba(74, 61, 61, 0.7); 
}
.psw{
    color: white;
}
.mail{
    border:2px solid #ccc;
    border-radius: 20px;
    height: 20px;
    padding: 6px;
    width: 250px;
    margin-top: 10px;
}
.mail::placeholder{
    padding: 1px;
}
.remember{
    margin-top: 40px;
    color:white;
}
#remember{
    color:white;
}
/* .line{
    width: 200px;
    margin-top: 30px;
    height:10px;
    background: -moz-linear-gradient(45deg ,blue, grey);
} */
.button{
    width: 270px;
    border: 2px solid #ccc;
    border-radius: 20px;
    height: 35px;
    background-color: white;
    margin-top: 20px;
}
#link{
    color: #686666;
    text-decoration: none;
}
.link{
    color: white;
    text-decoration: none;
}
.member{
    text-align: center;
    margin-top: 60px;
    color: white;
}